<link href="/CSS/gameStyle.css" rel="stylesheet" type="text/css" />
 <div class="title">
                <h1> Butterfly Math </h1>
                <h2> Addition Level </h2>
                <h2 class="questionSpot"></h2>
            </div>
        </header>
        <div class="start">
            <button type="button" value="Begin!" class="playGame"> Begin! </button>
        </div>
    </section>
    <div>
      <img class="check" src="/media/img/check.png">
      <img class="redX" src="/media/img/x.png">
      <p class="questionBox"></p>
      <img class="cloud" src="/media/img/cloud.png">
      
      <img class="net" src="/media/img/net.png">
      



    </div>




    <div class="scoreboard">
        <p class="score"> Score: </p>
        <p class="hits"> Hits: </p>
        <p class="miss">Misses: </p>
        <p class="timer">Time: 90 </p>
    </div>


    <div class="gameBody container">





    </div>
<script src="/js/addition.js"></script>