 <div class="title">
                <h1> Butterfly Math </h1>
                <h2> Division Level </h2>
                <h2 class="questionSpot"></h2>
            </div>
        </header>
        <div class="start">
            <input type="button" value="Begin!" class="playGame">
        </div>
    </section>
    <div>
      <img class="check" src="../img/check.png">
      <img class="redX" src="../img/x.png">
      <p class="questionBox"></p>
      <img class="cloud" src="../img/cloud.png">
      
      <img class="net" src="../img/net.png">
      



    </div>




    <div class="scoreboard">
        <p class="score"> Score: </p>
        <p class="hits"> Hits: </p>
        <p class="miss">Misses: </p>
        <p class="timer">Time: 150 </p>
    </div>


    <div class="gameBody">





    </div>
<script src="/js/division.js"></script>