
<div class="" id='mainHomeWrapper'>
<section class="title"> 
      <div>
        <h1> Butterfly Math </h1>
          <h2> Click A level to play </h2>
      </div>
    </section>
        <section class="lvls">
            <div class="lvlCont">
                <div class="levels" class="l1">
                    <h3> Level 1  </h3> <br>
                    <input  onclick="window.location='../HTML/addition.html';"  type="button" value="Addition" id="addBut" class="CtoP"> <br>
                    <h4 class="exHead"> example: <span class="ex"> 5+9 = 14 </span> </h4>
                </div>

                <div class="levels" class="l2">
                    <h3> Level 2 </h3> <br>
                    <input onclick="window.location='../HTML/subtraction.html';" type="button" value="Subtraction" id="subBut" class="CtoP">  <br>
                    <h4 class="exHead"> example: <span class="ex"> 11-3 = 8 </span> </h4>
                </div>

                <div class="levels" class="l2">
                    <h3> Level 3  </h3> <br>
                    <input onclick="window.location='../HTML/division.html';" value="Division" id="divBut" type="button" class="CtoP">   <br>
                    <h4 class="exHead"> example: <span class="ex"> 12/3 = 4 </span> </h4>
                </div>
          </div>
          
        </section>

    <section class="buttons">
        <button id="startG" class="start"> Start Game</button>
        <button class="leaderBoard"> Top Scores </button>
        <button id="modButt" class="rule"> How to Play </button>
    </section>
<!-- rules -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                    <p>how to play rules</p>
                    <h3> Objective: Solve the math problem by selecting the correct answer on a Butterfly;
                    there are 3 rounds.</h3> <br> <h4> Select An answer by left-clicking with your mouse or tapping the butterfly on a touchscreen
                    <h4>Every correct answer will result in a Hit while every incorrect answer is a miss. Each miss will subtract a Hit, so NO GUESSING!</h4><br>
                    <h4>If you reach six(6) misses total, the game will end! </h4> <br> <br>
                    <p> The game begins at Level One (addition) You will have 90 seconds for this round
                        The second level (subtraction) will begin once the timer reaches 0 This level is 2 minutes. Again once the timer reaches 0 Level 
                        Three (Division) will Begin and you have 2.5 minutes to complete this last level! </p>
                    <h4> Disclaimer </h4>
                    <p> You must complete all 3 Levels & provide a name and age to recieve a total score! </p>
                    <h3> Good Luck! </h3>
      
            </div>
        </div>


    <div id="imgCont">
        <img class="bfly" id="b1" src="./media/img/butterfly1.png">
        <img class="bfly" id="b2" src="./media/img/butterfly2.png">
        <img class="bfly" id="b3" src="./media/img/butterfly3.png">
    </div>

</div>