<link href="/CSS/gameStyle.css" rel="stylesheet" type="text/css" />
 <div class="title">
                <h1> Butterfly Math </h1> 
                <h1 id="title">FINAL SCORE</h1>
            </div>
        </header>


<div id="scoreBoard">
  <div class="row">
  <span id="userName"> </span>
  </div>
  <div class="row">
  </div>
  <div id="title" class="scores">Level &nbsp;&nbsp;&nbsp;&nbsp;Hits&nbsp; Misses
  </div>
    <div class="row ">
    <p id="l1"> </p>
    </div>
    
    <div class="row ">
    <p  id="l2">  </p>
    </div>

    <div class="row ">
    <p  id="l3"> </p>
    </div>    
    <br><br>
    <div class="row ">
    <h2  id="l4"> </h2>
    </div>
  
  </div>
